@import "../styles/colors";

.sections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  section {
    flex: 1;
    margin: 50px 20px 20px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $xanadu;
      height: 100px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      color: $mintCream;

      &:hover {
        cursor: pointer;
        background-color: scale-color($xanadu, $lightness: -30%);
      }
    }
  }
}